.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 80vh;
}
.searchbox-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: #8080801a;
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  padding: 10px;
  gap: 6px;
  z-index: 10;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-result-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  top: 3.8rem;
  width: 100%;
  box-shadow: 0px 0px 20px 0px rgba(3, 27, 89, 0.2);
  padding: 8px;
  border-radius: 0.375rem;
  z-index: 10;
  overflow-y: auto;
  max-height: 20rem;
  gap: 8px;
}
.list-container {
  height: 100%;
  width: 100%;
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 0.375rem;
  border: 1px solid red;
}

.search-result-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.result-item-card {
  text-align: left;
  border-radius: 20px;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.result-item-card p {
  margin: 0px;
  padding: 0px;
}

.id {
  font-weight: bold;
}

.search-result-card-container {
  display: flex;
  flex-wrap: wrap;
}

.textblue {
  color: rgb(93, 93, 237);
}
.bgYellow {
  background-color: #ffffe0;
}

.search-icon {
  width: 2rem;
}
